
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5px;
    align-items: center;
    background-color: rgb(146, 146, 146);
    font-family: 'Lora', serif;

}

header img{
    padding-left: 20px;
    height: 60px;
    width: 170px;
}
nav{
    flex-flow: row wrap;
}

nav a,a{
    padding-left: 10px;
    color: white;
    list-style: none;
    text-decoration: none;

}
.phone{
    padding-right: 10px;
    margin-right: 10px;
}

a:hover{
    scale: 1.1;
    transition: 1.5s;
    color: black;
}