


.carrito{
    padding-right: 20px;
    text-align: right;
    align-content: center;
    align-items: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

h3{
    padding-right: 15px;
}


.botones{
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center; 
}
.botones div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}